@import "./../abstracts/variables";

.container {
   width: 100%;
   background-color: $default-background-color;

   // @include responsive(tab-land) {
   //    padding: 5rem
   // }

   // @include responsive(tab-port) {
   //    padding: 4rem
   // }

   // @include responsive(phone) {
   //    padding: 2rem
   // }
}

.navbar,
.placeholder {
   background-color: #1e2734;
   width: 100%;
   height: 8rem;
}

.navbar {
   position: fixed;
   z-index: 9999;
}

.main-content {
   padding: 4rem;
   display: flex;
   flex-direction: column;
   align-items: center;

   @include responsive(tab-land) {
      padding: 3rem;
   }

   @include responsive(tab-port) {
      padding: 2rem;
   }

   @include responsive(phone) {
      padding: 1rem;
   }
}

.card {
   width: 100%;
   background-color: $color-white;
   padding: 3rem 20%;
   font-size: $default-font-size;
   border-radius: $default-border-radius;
   border: 1px solid $default-border-color;

   @include responsive(tab-land) {
      padding: 3rem 15%;
   }

   @include responsive(tab-port) {
      padding: 2rem 7%;
   }

   @include responsive(phone) {
      padding: 2rem 3%;
   }

   &:not(:last-child) {
      margin-bottom: 1rem;

      @include responsive(desktopXL) {
         margin-bottom: 0;
         margin-right: 4rem;
      }
   }

   &__title {
      margin-bottom: 1rem;

      &--main {
         text-align: center;
         margin-bottom: 1rem;
      }

      &--sub {
         color: $color-grey-light-1;
      }
   }

   &__text {
      color: $color-grey;
      font-size: $default-font-size;

      &:not(:last-child) {
         margin-bottom: 1rem;
      }

      &--highlighted {
         cursor: pointer;
         font-weight: bold;
         color: $color-secondary;

         &:hover {
            color: $color-primary-darken;
         }
      }
   }

   &__funfacts {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0 2rem 0;
      // padding: 1rem 0;
   }

   &__badges-box {
      display: grid;
      grid-template-columns: repeat(auto-fill, 25rem);
      grid-gap: 2rem;
      width: 100%;
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      padding: 4rem 0;
   }
}

.divider {

   &__vertical {
      width: 5rem;
      border-bottom: 1px solid $default-border-color;
   }
}