@import "./../abstracts/variables";

.card-animation {
   transition: all $default-transition-duration;
   box-shadow: $default-box-shadow;

   &:hover {
      box-shadow: $default-box-shadow-hover;
   }
}

.badge-animation {
   transition: all $default-transition-duration;
   box-shadow: $default-box-shadow;

   &:hover {
      transform: translateY(-.1rem) scale(1.01);
      box-shadow: $default-box-shadow-hover;
   }
}