@import "./../abstracts/variables";
@import "./../abstracts/mixins";

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
   font-family: inherit;
}

html {
   font-size: 62.5%;
   box-sizing: border-box;

   @include responsive(tab-land) {
      font-size: 58%;
   }

   @include responsive(tab-port) {
      font-size: 54%;
   }

   @include responsive(phone) {
      font-size: 50%;
   }

   @include responsive(big-desktop) {
      font-size: 70%;
   }
}

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   height: 100%;
   font-family: $font-family-text;
   color: $color-grey;
   font-size: $default-font-size;
   background-color: $default-background-color;
}

/** ----- For selections ----- */
::-moz-selection {
   background-color: $color-secondary;
   color: $color-white;
}

::selection {
   background-color: $color-secondary;
   color: $color-white;
   font-weight: bold;
}


/** ----- General settings ----- */
a,
a:link,
a:visited,
button,
button:link,
button:visited {
   text-decoration: none;
}

li {
   list-style: none;
}

input {
   outline: none;
}