@import "./../abstracts/variables";

::-webkit-scrollbar {
   width: 1rem;
   -webkit-transition: $default-transition-duration !important;
   transition: $default-transition-duration !important;
}

::-webkit-scrollbar-track {
   border-radius: 1rem;
   background-color: $default-background-color;
}

::-webkit-scrollbar-thumb {
   background: $color-secondary-lighten;
   border-radius: 1rem;
   cursor: pointer;
   -webkit-transition: $default-transition-duration !important;
   transition: $default-transition-duration !important;

   &:hover {
      background: $color-secondary;
      cursor: pointer;
   }
}