@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// COLORS
$default-background-color:rgba(48, 89, 204, .05);
$default-border-color:#e6e6e6;

$color-primary: #ea5137;
$color-primary-darken: darken($color-primary, 5%);
$color-primary-lighten: lighten($color-primary, 5%);

$color-secondary: #3a465a;
$color-secondary-lighten: lighten($color-secondary, 5%);
$color-secondary-darken: darken($color-secondary, 5%);

$color-grey-dark-2: #2e2e2e;
$color-grey-dark-1: #3a3a3a;
$color-grey: #4a4a4a;
$color-grey-light-1: #a8a8a8;
$color-grey-light-2: #e6e6e6;

$color-white: #fff;


// FONTS
$font-family-header: "Yantramanav",
sans-serif;
$font-family-text: 'Mukta',
sans-serif;
$font-family-lato: 'Lato',
sans-serif;

$default-font-size: 1.6rem;
$font-size-header-1: 3rem;
$font-size-header-2: 2.5rem;
$font-size-header-3: 2rem;
$font-size-header-4: 1.5rem;
$font-size-header-5: 1rem;


// BOX SHADOWS, BORDERS
$default-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01),
0 2px 4px rgba(0, 0, 0, 0.01),
0 4px 8px rgba(0, 0, 0, 0.01),
0 8px 16px rgba(0, 0, 0, 0.01),
0 16px 32px rgba(0, 0, 0, 0.01),
0 32px 64px rgba(0, 0, 0, 0.01);
$default-box-shadow-hover: 0 1px 2px rgba(0, 0, 0, 0.02),
0 2px 4px rgba(0, 0, 0, 0.02),
0 4px 8px rgba(0, 0, 0, 0.02),
0 8px 16px rgba(0, 0, 0, 0.02),
0 16px 32px rgba(0, 0, 0, 0.02),
0 32px 64px rgba(0, 0, 0, 0.02);
$default-border-radius: 3px;


// TRANSITIONS
$default-transition-duration: .2s;