@import "./../abstracts/variables";

.funfact-box {
   padding: 2rem;
   display: flex;
   flex-direction: row;
   background-color: rgba($color-primary, .1);
   border: 2px solid rgba($color-primary, .2);
   width: 70%;

   &__side-left {
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__icon {
      width: 6rem;
      height: 6rem;
      margin: 0 4rem 0 2rem;
      fill: $color-primary;
   }

   &__side-right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   &__text {
      color: $color-secondary;
      margin: 0;

      &:not(:last-child) {
         margin-bottom: rem;
      }
   }
}