@import "./../abstracts/variables";
@import "./../abstracts/mixins";

.pagination-section {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 1rem 0;
   max-width: 30rem;
   margin: 0 auto;

   &__area {
      :not(:last-child) {
         margin-right: 1rem;
      }
   }

   &__box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      height: 3.5rem;
      // font-family: $font-family-text;
      border-radius: 50%;
      transition: $default-transition-duration-mouse;
      cursor: pointer;
      color: $color-secondary;
      margin: 0 .5rem;


      &:hover {
         background-color: $color-secondary;
         color: $color-white;
      }

      &--selected {
         background-color: $color-secondary;
         color: $color-white;
      }
   }

   &__number {
      color: currentColor;
   }
}