@import "./../abstracts/variables";

.table-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 75%;
   margin: 0 auto;

   @include responsive(desktopXL) {
      width: 65%;
   }

   @include responsive(desktopL) {
      width: 70%;
   }

   @include responsive(tab-land) {
      width: 80%;
   }

   @include responsive(tab-port) {
      width: 85%;
   }

   @include responsive(tab-port) {
      width: 100%;
   }

   .table {
      @include responsive(phone) {
         display: none;
      }
   }

   th {

      &:focus,
      &:active,
      &:hover {
         .table-box__thead-text {
            opacity: 1;
         }
      }
   }

   &__th-box {
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
   }

   &__thead {
      border-bottom: 1px solid $color-secondary !important;
   }

   &__thead-text {
      color: $color-secondary;
      opacity: 0;
      transition: $default-transition-duration;
      margin: 0;
   }

   &__tr {

      &:not(:last-child) {
         border-bottom: 1px solid $default-border-color !important
      }

      &>*:first-child {
         text-align: left;
      }

      &>* {
         color: $color-grey;
      }
   }

   &__link a {
      color: $color-secondary;
      font-weight: 500;
      font-size: 1.6rem;
      transition: $default-transition-duration-mouse;

      &:hover {
         color: $color-primary-darken;
         // text-shadow: 0 .1rem 2rem rgba($color-black, .2);
      }
   }

   &__icon {

      &--subject {
         width: 1.7rem;
         height: 1.7rem;
         fill: $color-secondary;
         margin-right: 1rem;
      }

      &--th-icon {
         width: 2rem;
         height: 2rem;
         fill: $color-secondary;
         margin-right: .5rem;
      }
   }

   &__share {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
   }

   &__inside-box {
      transition: $default-transition-duration;
      border-radius: $default-border-radius;
      padding: .5rem 1rem;
      cursor: pointer;

      &:hover {
         background-color: #4267B2;

         .table-box__share--icon {
            fill: $color-white;
         }

         .table-box__share--text {
            color: $color-white;
         }
      }
   }

   &__share {
      &--text {
         color: $color-secondary;
         transition: $default-transition-duration;
      }

      &--icon {
         transition: $default-transition-duration;
         width: 1.5rem;
         height: 1.5rem;
         fill: #4267B2;
      }
   }
}

/** ----- Only mobile devices ----- */
.table-mobile {
   display: none;

   @include responsive(phone) {
      display: flex !important;
      flex-direction: column;
   }

   &__row {
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      border-radius: $default-border-radius;
      box-shadow: $default-box-shadow;

      &:not(:last-child) {
         margin-bottom: 1rem;
         border: 1px solid $default-border-color;
      }

      &:focus,
      &:active {
         box-shadow: $default-box-shadow-hover;
      }
   }

   &__data-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      &:not(:last-child) {
         margin-bottom: 1rem;
      }
   }

   &__title {
      display: flex;
      align-items: center;
      font-weight: 500;
      margin-right: 1rem;
   }

   &__icon {
      width: 1.7rem;
      height: 1.7rem;
      fill: $color-secondary;
      margin-right: 1rem;
   }

   &__data {

      &,
      &>* {
         text-align: right;
         font-weight: 400 !important;
      }
   }
}