<main class="container-fluid">
   <div class="navbar"></div>
   <div class="placeholder"></div>
   <section class="main-content">
      <div class="card card-animation">
         <div class="card__title">
            <h1 class="card__title--main header header--1">Oktatáshoz használható szabad hozzáférésű műsorszámok
            </h1>
            <small class="card__title--sub">2020. Március 15.</small>
         </div>

         <div class="card__text">
            <p>A hazánkban kialakult helyzet folytán a NAVA-pont hálózat intézményei (iskolák, óvodák, közintézmények)
               bezártak. Együttműködés keretében az MTVA, a NAVA és az oktatást támogató kormányzati intézmények 3
               egyszerű
               lépésben igyekeznek a felhasználókhoz eljuttatni az oktatási tartalmakat a digitális oktatásra történő
               átállás keretében.</p>
         </div>

         <div class="card__funfacts">
            <div class="funfact-box">
               <div class="funfact-box__side-left">
                  <svg class="funfact-box__icon">
                     <use xlink:href="images/sprite.svg#icon-info"></use>
                  </svg>
               </div>

               <div class="funfact-box__side-right">
                  <p class="funfact-box__text">A közmédia csatornáján <span class="funfact-box__text--highlighted">(M5)</span> oktatási célú és
                     felhasználású
                     tartalmakat sugároz.</p>
                  <p class="funfact-box__text">A <span class="funfact-box__text--highlighted">mediaklikk.hu</span> ezeket a tartalmakat párhuzamosan
                     azonnal elérhetővé és visszajátszhatóvá teszi.</p>
                  <p class="funfact-box__text">A <span class="funfact-box__text--highlighted">nava.hu</span> feldolgozza az oktatási célú tartalmakat,
                     majd téma szerint csoportosítva eljuttatja az
                     oktatást támogató
                     intézményeknek.</p>
               </div>
            </div>
         </div>

         <div class="card__text">
            <p>Ezzel egyidejűleg ezen az oldalon szabadon hozzáférhetők a
               <span class="card__text--highlighted">nava.hu</span>
               -n található oktatási tartalmak minden felhasználó számára.
            </p>
         </div>
      </div>

      <div class="card card-animation">
         <div class="filter-section">
            <div class="filter-section__search">
               <input id="searchInput" placeholder="Keresés" type="text">
            </div>

            <div class="filter-section__filter">
               <input class="filter-section__input" id="input" type="number" placeholder="10">
               <label class="filter-section__label" for="input">elem megjelenítése</label>
            </div>
         </div>

         {{!-- Table --}}
         <div class="table-box">
            <table class="table table-hover">
               <thead class="table-box__thead header header--3 text-center">
                  <th class="text-left">
                     <div class="th-box">
                        <svg class="table-box__icon--th-icon">
                           <use xlink:href="images/sprite.svg#icon-graduation-cap"></use>
                        </svg> Tantárgy megnevezése
                     </div>
                  </th>

                  <th>
                     <div class="th-box">
                        <svg class="table-box__icon--th-icon">
                           <use xlink:href="images/sprite.svg#icon-tv"></use>
                        </svg> TV
                     </div>
                  </th>

                  <th>
                     <div class="th-box">
                        <svg class="table-box__icon--th-icon">
                           <use xlink:href="images/sprite.svg#icon-podcast"></use>
                        </svg> Rádió
                     </div>
                  </th>

                  <th>
                     <div class="th-box">
                        <svg class="table-box__icon--th-icon">
                           <use xlink:href="images/sprite.svg#icon-books"></use>
                        </svg>
                        <span>Kapcsolódó anyagok</span>
                     </div>
                  </th>
               </thead>

               <tbody id="tableBody" class="tbody text-center"></tbody>
            </table>

            {{!-- Table on mobile only --}}
            <div id="tableBodyMobile" class="table-mobile">
            </div>

            <div id="paginationSection" class="pagination-section"></div>

            <div class="table-box__share">
               <div class="table-box__inside-box">
                  <svg class="table-box__share--icon">
                     <use xlink:href="images/sprite.svg#icon-facebook"></use>
                  </svg>
                  <span class="table-box__share--text">Megosztás</span>
               </div>
            </div>
         </div>

      </div>

   </section>
</main>