<main class="container-fluid">
   <div class="placeholder"></div>
   <section class="main-content">
      <div class="card card-animation">
         <div class="card__title">
            <h1 class="card__title--main header header--1">Oktatáshoz használható szabad hozzáférésű műsorszámok
            </h1>
            <small class="card__title--sub">2020. Március 15.</small>
         </div>

         <div class="card__text">
            <p>A hazánkban kialakult helyzet folytán a NAVA-pont hálózat intézményei (iskolák, óvodák, közintézmények)
               bezártak. Együttműködés keretében az MTVA, a NAVA és az oktatást támogató kormányzati intézmények 3
               egyszerű
               lépésben igyekeznek a felhasználókhoz eljuttatni az oktatási tartalmakat a digitális oktatásra történő
               átállás keretében.</p>
         </div>

         <div class="card__funfacts">
            <div class="funfact-box funfact-box-animation">
               <div class="funfact-box__side-left">
                  <div class="funfact-box__number-box">
                     <span class="funfact-box__number">1</span>
                  </div>
               </div>

               <div class="funfact-box__side-right">
                  <p class="funfact-box__text">A közmédia csatornáján
                     <span class="funfact-box__text--highlighted">(M5)</span> oktatási célú és felhasználású tartalmakat
                     sugároz.</p>
               </div>
            </div>

            <div class="funfact-box funfact-box-animation">
               <div class="funfact-box__side-left">
                  <div class="funfact-box__number-box">
                     <span class="funfact-box__number">2</span>
                  </div>
               </div>

               <div class="funfact-box__side-right">
                  <p class="funfact-box__text">A
                     <span class="funfact-box__text--highlighted">mediaklikk.hu</span> ezeket a tartalmakat párhuzamosan
                     azonnal elérhetővé és visszajátszhatóvá teszi.</p>
               </div>
            </div>

            <div class="funfact-box funfact-box-animation">
               <div class="funfact-box__side-left">
                  <div class="funfact-box__number-box">
                     <span class="funfact-box__number">3</span>
                  </div>
               </div>

               <div class="funfact-box__side-right">
                  <p class="funfact-box__text">A
                     <span class="funfact-box__text--highlighted">nava.hu</span> feldolgozza az oktatási célú
                     tartalmakat, majd téma szerint csoportosítva eljuttatja az oktatást támogató intézményeknek.</p>
               </div>
            </div>
         </div>
      </div>

      <div class="card card-animation">
         <div class="card__text">
            <p>Ezzel egyidejűleg ezen az oldalon szabadon hozzáférhetők a
               <span class="card__text--highlighted">nava.hu</span>
               -n található oktatási tartalmak minden felhasználó számára.
            </p>
         </div>

         <div class="filter-section">
            <div class="filter-section__search">
               <input id="searchInput" class="filter-section__search" placeholder="Keresés" type="text">
            </div>

            <div class="filter-section__filter">
               <input class="filter-section__input" id="input" type="number" placeholder="9">
               <label class="filter-section__label" for="input">elem megjelenítése</label>
            </div>
         </div>

         <div class="table-box">
            <table class="table table-hover">
               <thead class="thead header header--3 text-center">
                  <th>Tantárgy</th>
                  <th>TV</th>
                  <th>Rádió</th>
                  <th>Kapcsolódó anyagok</th>
               </thead>

               <tbody id="tableBody" class="tbody text-center">
                  <tr>
                     <td data-label="subject">
                        <a href="https://nava.hu/">sdsd</a>
                     </td>
                     <td data-label="tvLink">sdsd</td>
                     <td data-label="radioLink">sdsd</td>
                     <td data-label="relatedStuffs">sdsd</td>
                  </tr>
               </tbody>
            </table>
         </div>

         <div class="pagination-section"></div>
      </div>
   </section>
</main>